<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.victormeunier.camtext">
    <!-- Adding Camera, Write External Storage Permission -->
    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="ocr" />

    <!-- The 'requestLegacyExternalStorage' attribute is "false" by default on apps targeting Android Q. -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name="com.victormeunier.camtext.AboutActivity"
            android:label="@string/about" />
        <activity
            android:name="com.victormeunier.camtext.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name="com.victormeunier.camtext.HistoryActivity"
            android:label="@string/history_activity" />
        <activity
            android:name="com.victormeunier.camtext.ResultActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/result_activity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name="com.victormeunier.camtext.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>